/*justify-content:;
align-items:;
flex-direction:;
align-self:;
flex-wrap:;
align-content:;
order

grid-template-columns: repeat();
column-gap: ;
row-gap: ;
grid-row: 2 / 4;
grid-column: 1 / span 3;
grid-auto-rows: ;
grid-template-areas: ;
grid-area:;
gap:;
object-fit:cover;
*/


/*--------reset-----------*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
    
}
@font-face {
    font-family:"Fedora" ;
    src: url(../font/jojofont/SF\ Fedora.ttf);
    font-weight: bold;
    font-style:italic;
}
/*--------reset---------->/*/
/*--------header---------*/
header {
    background-color: #186fe0;
    padding: 0px 10px 0px 10px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}

header h1 {
    color:rgb(0, 0, 0);
    font-size: 48px;
    font-family:"Fedora" ;
    font-style: italic;
    font-weight:bold;
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content:center;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-right: 24px;
}
header nav ul li a img {
    width: 24px;
    height: 24px;
}

/*--------header-------->/*/
/*--------main---------*/

main {
    background: rgb(3,12,33);
    background: linear-gradient(180deg, rgba(3,12,33,1) 9%, rgba(0,0,0,1) 46%, rgba(8,34,76,1) 84%);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page{
    margin-left: 150px;
    margin-right: 150px;
    background-color: aliceblue;
}

.position {
    position: fixed;
    bottom: 20px;
    right: 50px;
}
.position a img{
    width:50px;
}


/*--------hero---------*/

.hero{
    background: rgb(54,0,0);
    background: linear-gradient(180deg, rgb(41, 41, 41) 20%, rgba(0,0,0,1) 80%);
    width:100%;
    height: 100%;
    display: flex;
    justify-content:center;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 0.5px solid;
    border-color: rgb(196, 196, 196);
}

.hero-item{
    position: relative;
}

.hero-item img{
    width: 540px;
    height: 540px;
    object-fit: cover;
    position: relative;
    opacity: 85%;
}
.hero-item {
margin: 30px;
width: 540px;
height: 540px;
}

.hero-item-bot h2{
    position: absolute;
    color: aliceblue;
    bottom: 59px;
    left: 5px;
}
.hero-item-bot h3{
    position: absolute;
    color: aliceblue;
    bottom: 10px;
    left:3px;
    margin-inline-start: 3px;
}

.hero-item-bot-1 h2{
    position: absolute;
    color: aliceblue;
    bottom: 85px;
    left: 5px;
}
.hero-item-bot-1 h3{
    position: absolute;
    color: aliceblue;
    bottom: 10px;
    left:3px;
    margin-inline-start: 3px;
}



/*-------bestseller------*/
.bestseller {
    background-color: #000000;
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 10px;
}

.bestseller div {
    margin: 10px;
}

.tarjetaproducto img {
    width: 340px;
    height: 340px;
    object-fit: cover;
}


.bestseller{
    text-align: center;
}

/*-------off---------*/

.off {
    text-align: center;
}
.gridoff{
    display:flex;
    flex-direction: row;
    gap: 30px;
    padding: 30px;
    
}
.griditem1{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows:40px 100px 100px ;
    gap: 15px;
}
.griditem2{
    display: grid;
    width: 100%;
    grid-template-columns: 0.2fr 0.2fr;
    grid-template-rows:40px 150px 150px ;
    gap: 15px;
    justify-content: center;
}

.gridobj img {
    width: 460px;
    height: 100px;
    object-fit: cover;
}

.gridobj2 img {
    width: 90px;
    height: 150px;
    object-fit: cover;
}

.griditem2 h2{
    grid-column: span 2;
    background-color: rgb(244, 236, 0);
}

.griditem1 h2{
    background-color: rgb(244, 236, 0);
}

/*-------clientes---------*/
.clientes{
    padding-top: 20px;
}

.clientes h2{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

.topcontenedor{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 30px;
}
.esperados{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows:30px repeat(3, 100px);
    gap: 15px;
    justify-items: center;
}
.esperados h2{
    color: #000000;
    text-align: center;
    background-color: rgb(244, 236, 0);
}
.populares{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows:30px repeat(3, 100px);
    gap: 15px;
    justify-items: center;
}
.populares h2{
    color: #000000;
    text-align: center;
    background-color: rgb(244, 236, 0);
}
.topobj img{
    width: 450px;
    height: 100px;
    object-fit: cover;
    
}
/*--------------@media-------------*/
@media screen and (max-width:1256px) {
    .topcontenedor{
        flex-direction: column;
    }
}

@media screen and (max-width:1025px) {
    .gridoff{
        flex-direction: column;
    }

}

@media screen and (max-width:874px) {
    .page{
        margin-left: 0px;
        margin-right: 0px;
    }
    .position{
        display: none;
    }
}


@media screen and (max-width:640px) {
    .position{
        display: none;
    }
    .page{
        margin-left: 0px;
        margin-right: 0px;
    }
    .hero-item img{
        width: 320px;
        height: 320px;
    }
    .hero-item {
    margin: 30px;
    width: 320px;
    height: 320px;
    }
    
    .hero-item-bot h2{
        bottom: 105px;
        left: 5px;
    }
    .hero-item-bot h3{
        bottom: 10px;
        left:3px;
        margin-inline-start: 3px;
    }
    
    .hero-item-bot-1 h2{
        position: absolute;
        color: aliceblue;
        bottom: 128px;
        left: 5px;
    }
    .hero-item-bot-1 h3{
        bottom: 10px;
        left:3px;
        margin-inline-start: 3px;
    }

    header nav ul li a {
        margin-right: 5px;
    }
}

@media screen and (max-width:613px) {
    .page{
        margin-left: 0px;
        margin-right: 0px;
    }
    .hero-item img{
        width: 320px;
        height: 320px;
    }
    .hero-item {
    margin: 30px;
    width: 320px;
    height: 320px;
    }
    
    .hero-item-bot h2{
        bottom: 105px;
        left: 5px;
    }
    .hero-item-bot h3{
        bottom: 10px;
        left:3px;
        margin-inline-start: 3px;
    }
    
    .hero-item-bot-1 h2{
        position: absolute;
        color: aliceblue;
        bottom: 128px;
        left: 5px;
    }
    .hero-item-bot-1 h3{
        bottom: 10px;
        left:3px;
        margin-inline-start: 3px;
    }
    .topobj img{
        width: 310px;
        height: 100px;
        object-fit: cover;
        
    }

    .gridobj img {
        width: 310px;
        height: 100px;
        object-fit: cover;
    }

    header{
        position:static;
    }
}

@media screen and (max-width:484px){
    header nav ul {
        flex-direction: column;
    }
    
    .tarjetaproducto img {
        width: 230px;
        height: 230px;
        object-fit: cover;
    }

    .topobj img{
        width: 210px;
        height: 100px;
        object-fit: cover;
        
    }

    .gridobj img {
        width: 210px;
        height: 100px;
        object-fit: cover;
    }

    .hero-item img{
        width: 240px;
        height: 240px;
    }
    .hero-item {
    margin: 30px;
    width: 240px;
    height: 240px;
    }
    
    .hero-item-bot h2{
        bottom: 140px;
        left: 5px;
    }
    .hero-item-bot h3{
        bottom: 10px;
        left:3px;
        margin-inline-start: 3px;
    }
    
    .hero-item-bot-1 h2{
        position: absolute;
        color: aliceblue;
        bottom: 180px;
        left: 5px;
    }
    .hero-item-bot-1 h3{
        bottom: 10px;
        left:3px;
        margin-inline-start: 3px;
    }

}

/*--------main-------->/*/
/*--------footer---------*/ 
footer {
    background-color: black;
}
footer div img {
    width: 30px;
    height: 30px;
}
/*--------footer-------->/*/     