.article-core{
    padding-top: 123px;
    color: black;
    p{
        margin: 0px;
        padding-bottom: 16px;
    }
}

.article-header{
    img{
        object-fit: cover;
        position: relative;
        width: 100%;
        padding-bottom: 30px;
        padding-top: 10px;
    }
    h2{
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.486);
        font-size: 2.3em;
    }
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left:9%;
    margin-right:9%;
}

.article-body{
    img{
        object-fit: cover;
        width: 95%;
        padding-bottom: 30px;
    }
    p{
        font-size: 20px;
    }
    h3{
        padding: 20px;
        font-size: 1.5em;
    }
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left:9%;
    margin-right:9%;
}