header {
    background-color: #186fe0;
    padding: 0px 10px 0px 10px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    z-index: 10;
    h1{
        color:rgb(0, 0, 0);
        font-size: 48px !important;
        font-family:"Fedora" ;
        font-style: italic;
        font-weight:bold;
    }
    nav{
        div{ 
            ul{
                list-style: none;
                display: flex;
                justify-content:center;
                text-align: center;
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                li{
                    a{
                        text-decoration: none;
                        color: rgb(0, 0, 0);
                        margin-right: 24px;
                        img{
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }
        }
    }
    
}